
<div id="red" style="width:500px;height:100px; background-color:#FF0000;"></div>
<div id="orange" style="width:500px;height:100px; background-color:#FF7F00;"></div>
<div id="yellow" style="width:500px;height:100px; background-color:#FFFF00;"></div>
<div id="green" style="width:500px;height:100px; background-color:#00FF00;"></div>
<div id="blue" style="width:500px;height:100px; background-color:#0000FF;"></div>
<div id="paper" style="width:500px;height:100px; background-color:#9400D3;"></div>
