
<p> This will be our rainbow page. ;) </p>

<div id="red" style="width:500px;height:100px;border:1px solid #FF0000;"></div>
<div id="orange" style="width:500px;height:100px;border:1px solid #FF7F00;"></div>
<div id="yellow" style="width:500px;height:100px;border:1px solid #FFFF00;"></div>
<div id="green" style="width:500px;height:100px;border:1px solid #00FF00;"></div>
<div id="blue" style="width:500px;height:100px;border:1px solid #0000FF;"></div>
<div id="paper" style="width:500px;height:100px;border:1px solid #9400D3;"></div>
